
@{
    ViewData["Title"] = "AdminMenu";
}

<h4>Welcome to the ADMIN menu, @PizzaBox.Library.SessionObjects.CurrentUser.FirstName!</h4>
<hr />
<div>
    <button onclick="location.href='@Url.Action("MakeOrder", "Menu")'" type="button" class="btn btn-primary btn-lg btn-block">Make an order</button>
    <button onclick="location.href='@Url.Action("AccessStoreData", "Menu")'" type="button" class="btn btn-primary btn-lg btn-block">Access store data</button>
    <button onclick="location.href='@Url.Action("ViewOrderHistory", "Menu")'" type="button" class="btn btn-primary btn-lg btn-block">View order history</button>
    <button onclick="location.href='@Url.Action("SignOut", "Menu")'" type="button" class="btn btn-secondary btn-lg btn-block">Sign out</button>
</div>

